[submodule "lib/bobtail"]
	path = lib/bobtail
	url = https://github.com/Torphedo/bobtail
[submodule "lib/sqlite"]
	path = lib/sqlite
	url = https://github.com/rhuijben/sqlite-amalgamation
[submodule "lib/imgui"]
	path = lib/imgui
	url = https://github.com/ocornut/imgui
	branch = docking
[submodule "lib/glfw"]
	path = lib/glfw
	url = https://github.com/glfw/glfw
[submodule "lib/cglm"]
	path = lib/cglm
	url = https://github.com/recp/cglm
[submodule "lib/nfde"]
	path = lib/nfde
	url = https://github.com/btzy/nativefiledialog-extended
[submodule "lib/raudio"]
	path = lib/raudio
	url = https://github.com/landiluigi746/raudio
	branch = fix_vs_linking_cmake
